#header {
	border-bottom:1px solid #e3e3e3;
}

#buttons {
	margin-top: 20px;
	text-align: right;
}

#homeid {
	margin-bottom: 20px;
}

#iam {

	height:200px;

  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
#iam:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

#latest {
	width: 400px;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

#latest:hover {
	width: 600px;
}

#dawg, #leaf, #rev, #play {
/*	display: inline-block;
	position: relative;*/
	width: 600px;
}

ul.img-list {
  list-style-type: none;
  padding-top: 50px;
  padding-bottom: 50px;
}

ul.img-list li {
  margin: 0em 1em 1em 0em;
  position: relative;
  width: 600px;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  font-size:50px;
  cursor: pointer;
  display: table;
  height: 100px;
  left: 0;
  top: 0;
  position: absolute;
  width: 600px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

ul.img-list li:hover span.text-content {
  opacity: 1;
}



#footer {
/*	position:fixed;*/
	bottom:10px;
	border-top:1px solid #e3e3e3;
	text-align: right;
	padding:10px;
}

h1 {
  font-family: Brush Script MT;
  font-size: 50px;
  font-smooth: always;
}


p {
  font-size:25px;
  margin-top: -20px;
  font-smooth: always;
}